@charset "utf-8";
/* media-query all screen styles */

// Extra large devices (large desktops, 1200px and up)


@media screen and (min-width: 1200px) {
            nav.menu-area {
                transform: translateX(300%);
            }
            .menu-area.active {
                transform: translateX(18%);
            }
            #menubtn.active {
	           margin: 3px -15px 0px 0px;
            }
        }
        @media screen and  (min-width: 992px) and (max-width: 1199px) {
            nav.menu-area {
	           transform: translateX(157%);
            }
            .menu-area.active {
	           transform: translateX(13%);
            }
            #menubtn.active {
	           margin: 3px -10px 0px 0px;
            }
            div.banner h1 {
                font-size: 2.2rem;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 991px){
            nav.menu-area {
	           transform: translateX(165%);
            }
            .menu-area.active {
	           transform: translateX(16%);
            }
            div.banner {
                padding: 1% 5%;
            }
            div.banner h1{
                font-size: 24px;
                font-weight: 600;
            }
            #menubtn.active {
	           margin: 3px -25px 0px 0px;
            }
        } 
        @media screen and (min-width: 576px) and (max-width: 767px){
            div.banner {
                padding: 0;
            }
            div.banner h1{
                font-size: 25px;
            }
            nav.menu-area {
	           transform: translateX(155%);
            }
            .menu-area.active {
	           transform: translateX(13%);
            }
            #menubtn.active {
	           margin: 3px -20px 0px 0px;
            }
        }
        @media screen and (min-width: 514px) and (max-width: 575px){
           div.banner {
                padding: 0;
            }
            div.banner h1{
                font-size: 24px;
            }
            .menu-area.active {
	           transform: translateX(6%);
            }
            #menubtn.active {
	           margin: 3px -6px 0px 0px;
            }
        }
        @media screen and (max-width: 513px){
            div.banner {
                padding: 0;
            }
            div.banner h1{
                font-size: 23px;
            }
            .menu-area.active {
	           transform: translateX(6%);
            }
            #menubtn.active {
	           margin: 3px -6px 0px 0px;
            }
        }
        @media screen and (max-width: 320px){
    nav.menu-area.active{
            
    }
    .menu-area.active {
        transform: translateX(6%);
    }
    #menubtn{
        margin: -38px -260px 0px 0px;
    }
    #menubtn.active {
        margin: -498px 253px 0px 0px;
    }
    a.logo.active{
        display: none;
    }
    div.banner{
        position: relative;
        z-index: -1;
    }
    div.banner h1{
        font-size: 21px;
        position: absolute;
        left: 0;
        top: -2px;
    }
    section .content{
        min-height: 400px;
    }
}
@media (min-width: 321px) and (max-width: 476px) {
    #menubtn {
	margin: -41px -260px 0px 0px;
}
    a.logo.active{
        display: none;
    }
    .menu-area.active {
        transform: translateX(6%);
    }
    div.banner{
        clear: both;
    }
    header#ust{
        float: left;
    }
    section .content{
        min-height: 400px;
    }
}
@media (max-width: 991px){
    ul.nnd {
    display: block;
    }
    ul.nnd li {
        width: 60%;
    }
    footer .footer-logo {
    display: none;
    }
}
@media (min-width: 992px){
    .table{
        width: 50%!important;
    }
}
@media (max-width: 768px){
    article.cod-alani{
    width: 100%;
}
}

